{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="form-wrapper">
    <form action="{% url 'main:update_comment' comment.id%}" method="POST">
        {% csrf_token %}
        <div class="form-title">댓글 수정</div>

        <div class="form-group">
            <label for="content">내용</label>
            <textarea id="content" name="content" required>{{ comment.content }}</textarea>
        </div>


        <button type="submit">댓글 수정</button>
    </form>
</div>
{% endblock %}